.image-view-wrapper:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.image-view-wrapper{
    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.image-view-wrapper:hover{
    -fx-border-color: blue;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.image-view-wrapper2{
    -fx-border-color: green;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.rosa{
-fx-background-color:  #ffbcb5;
}

.verde{
-fx-background-color:  #b9d8c2;
}

.azul{
-fx-background-color: #235784;
}

.textoAzul{
-fx-font-color: #235784;
}

.botonesCrema{
    -fx-background-color: #f2e5d7
}

.elborde{
-fx-border-color: #235784;
-fx-border-width: 2px;
}
